@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.our-services {
  background: var(--black-color);
  color: var(--white-color);
  padding-top: 17.3vw;
  padding-bottom: 10vw;

  @include tablet-big-screen {
    padding-top: 81.3vw;
  }

  &__block {
  }

  &__title {
    font-size: 24.9vw;
    line-height: 106%;
    letter-spacing: -0.046em;
    position: relative;
    margin-left: -14vw;
    margin-bottom: 13.3vw;

    @include tablet-big-screen {
      margin-bottom: 26.3vw;
    }

    &:after {
      @include pseudo-absolute;
      width: 22.5vw;
      height: 22.5vw;
      background: var(--main-color);
      border-radius: 50%;
      right: -8.9630vw;
      top: -2.4491vw;

      @include tablet-big-screen {
        width: 58vw;
        height: 58vw;
        right: -26.963vw;
        top: -45.4491vw;
      }
    }
  }

  &__title-item {
    position: relative;
    z-index: 1;
  }

  &__items {
  }

  &__item {
    @include manrope;
    display: grid;
    grid-template-columns: 26vw 50vw 1fr;
    padding: 3vw 0;
    border-bottom: .1vw solid var(--white-color);
    margin-bottom: 2.7vw;

    @include tablet-big-screen {
      grid-template-columns: 1fr;
      position: relative;
      padding: 4vw 0;
      padding-bottom: 20vw;
      border-bottom: none;
      border-top: .5vw solid var(--white-color);
    }
  }

  &__item-number {
    @include flex-row-center;
    border: .1vw solid var(--white-color);
    border-radius: 50%;
    width: 2.7vw;
    height: 2.7vw;
    margin-top: 2vw;

    @include tablet-big-screen {
      position: absolute;
      right: 0;
      top: 5.2vw;
      width: 7.7vw;
      height: 7.7vw;
      font-size: 3vw;
    }
  }

  &__item-desc {
    position: relative;
  }

  $desc-hover: '.our-services__item-desc:hover';

  &__item-desc-title {
    font-size: 3.4392vw;
    letter-spacing: -0.033em;
    margin-bottom: 1.3vw;

    @include tablet-big-screen {
      font-size: 9.5vw;
    }
  }

  &__item-desc-text {
    font-size: 1.1464vw;
    line-height: 126%;
    letter-spacing: -0.033em;

    @include tablet-big-screen {
      font-size: 5vw;
      margin: 10vw 0;
    }
  }

  &__item-link {
    font-weight: 800;
    font-size: 1.7196vw;
    line-height: 126%;
    letter-spacing: -0.033em;
    margin-left: auto;
    margin-top: auto;
    color: var(--main-color);
    position: relative;
    cursor: pointer;

    @include tablet-big-screen {
      font-size: 9vw;
      margin-left: 0;
      width: fit-content;
    }

    &:after {
      @include pseudo-absolute;
      width: 100%;
      height: .3vw;
      background: var(--main-color);
      left: 0;
      bottom: -.5vw;

      @include tablet-big-screen {
        height: 1.1vw;
        bottom: -1.5vw;
      }
    }
  }
}