@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.social {

  @include flex-row;

  @include tablet-big-screen {
    justify-content: space-between;
  }

  &__item {
    width: 5.75vw;
    height: 5.75vw;
    position: relative;
    @include flex-row-center;

    @include tablet-big-screen {
      width: 17vw;
      height: 17vw;
    }

    &:after {
      @include pseudo-absolute;
      @include absolute-center;
      border: .1vw solid #252728;
      border-radius: 50%;
      width: 117%;
      height: 117%;
    }
  }

  $social-item-hover: '.social__item:hover';

  &__item-img {
    width: 1.2vw;
    height: 1.2vw;
    object-fit: contain;
    object-position: center;

    @include tablet-big-screen {
      width: 6vw;
      height: 6vw;
    }
  }

  &__item-img-hover {
    position: absolute;
    @include absolute-center;
    width: 117%;
    height: 117%;
    z-index: 1;
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out .5s;

    #{$social-item-hover} & {
      stroke-dashoffset: 0;
    }
  }
}