@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
  opacity: 0;

  &--show {
    opacity: 1;
  }

  $header-black: '.header--black';

  &__block {
    @include flex-row-center;
    justify-content: space-between;
    padding: 3.5vw 0;

    @include tablet-big-screen {
      padding-top: 13vw;
    }
  }

  &__logo {
    width: 2.5013vw;

    @include tablet-big-screen {
      width: 7.5vw;
    }
  }

  &__logo-img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__logo-img-item {
    fill: var(--white-color);
    transition: fill .3s ease-out;

    #{$header-black} & {
      fill: var(--black-color);
    }
  }

  &__menu {
    @include flex-row-center;

    @include tablet-big-screen {
      margin-top: -3vw;
    }
  }

  &__menu-icon {
    width: 1.2vw;
    height: auto;
    display: block;
    margin-right: 1vw;
    margin-top: 0.5vw;

    @include tablet-big-screen {
      width: 5vw;
      margin-right: 5vw;
      margin-top: 2vw;
    }
  }

  &__menu-icon-item {
    fill: var(--white-color);
    transition: fill .3s ease-out;

    #{$header-black} & {
      fill: var(--black-color);
    }
  }

  &__menu-text {
    color: var(--white-color);
    font-size: 1.8vw;
    transition: color .3s ease-out;

    #{$header-black} & {
      color: var(--black-color);
    }

    @include tablet-big-screen {
      font-size: 8.8vw;
    }
  }
}