@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.modal {
  $open: '.modal--open';

  display: none;
  position: fixed;
  @include absolute-fill;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  color: var(--black-color);
  opacity: 0;
  visibility: hidden;

  &--open {
    display: block;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }

  @include tablet-big-screen {

  }

  &__close {
    position: absolute;
    border: 0.1vw solid var(--white-color);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    right: -3vw;
    top: -3vw;
    cursor: pointer;
  }

  $close-hover: '.modal__close:hover';

  &__close-icon {
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    @include absolute-center;
    fill: var(--white-color);
    opacity: .7;
    transition: all ease-out .5s;

    #{$close-hover} & {
      opacity: 1;
    }
  }

  &__close-icon-hover {
    position: absolute;
    width: 20.62vw;
    height: 20.62vw;
    @include absolute-center;
    stroke: var(--white-color);
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out .5s;

    #{$close-hover} & {
      stroke-dashoffset: 0;
    }
  }

  &__background {
  }

  &__content {
    position: absolute;
    @include absolute-fill;
    z-index: 1;
    background: white;
  }

  &__header {
    @include flex-row-center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__header-title {
    font-weight: 700;
    font-size: 24px;
  }

  &__header-close {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  &__content-message {
    padding: 20px 20px;
  }

  &__content-message-icon {
    width: 60px;
    height: 60px;
    @include margin-auto;
    display: block;
    margin-bottom: 15px;

    &--error {
      fill: var(--extra-light-error-color);
    }

    &--success {
      fill: var(--light-success-color);
    }

    &--warning {
      fill: var(--warning-color);
    }
  }

  &__content-message-title {
    font-size: 16px;
    color: var(--black-color);
    margin-bottom: 5px;
    text-align: center;
  }

  &__content-message-text {
    font-size: 14px;
    color: var(--black-color);
    margin-bottom: 15px;
    text-align: center;
  }

  &__content-message-text-inner {
    display: inline;
    font-weight: 500;
  }

  &__content-message-two-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    @include mobile-big-screen {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  &__content-message-one-button {
    @include flex-row-center;
  }

  &__content-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }

  &__buttons {
    display: grid;
    grid-gap: 20px;

    &--two {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__button {
  }

  &__status-rows {
    display: grid;
    grid-gap: 15px;
  }

  &__status-row {

  }

  &__status-row-current {
    grid-gap: 8px;
    grid-template-columns: 30px 1fr;
    align-items: center;
    display: none;

    &--active {
      display: grid;
    }
  }

  $status-row-load: '.modal__status-row-current--load';
  $status-row-error: '.modal__status-row-current--error';
  $status-row-success: '.modal__status-row-current--success';

  &__status-row-icon {
    width: 30px;
    height: 30px;
    display: block;

    #{$status-row-load} & {
      fill: var(--main-color);

      @keyframes rotate {
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(-180deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }

      animation: rotate 1200ms linear;
      animation-iteration-count: infinite;
    }

    #{$status-row-error} & {
      fill: var(--error-color);
    }

    #{$status-row-success} & {
      fill: var(--success-color);
    }
  }

  &__status-row-text {
    font-size: 16px;
  }

}
