@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.modal {
  $open: '.modal--open';
  $show: '.modal--show';

  position: relative;

  &--level-1 {
    z-index: 1000;
  }

  &--level-2 {
    z-index: 2000;
  }

  &--level-3 {
    z-index: 3000;
  }

  $background-transition: 350;

  &--open {
    //opacity: 1;
    //visibility: visible;
  }

  &--show {

  }

  @include tablet-big-screen {

  }

  &__close {
    position: absolute;
    border: 0.1vw solid var(--white-color);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    right: -3vw;
    top: -3vw;
    cursor: pointer;
    z-index: 3;

    @include tablet-big-screen {
      width: 43vw;
      height: 43vw;
      right: -11vw;
      top: -3vw;
    }
  }

  $close-hover: '.modal__close:hover';

  &__close-icon {
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    @include absolute-center;
    fill: var(--white-color);
    opacity: .7;
    transition: all ease-out 1s;

    #{$close-hover} & {
      opacity: 1;
    }

    @include tablet-big-screen {
      width: 5vw;
      height: 5vw;
    }
  }

  &__close-icon-hover {
    position: absolute;
    width: 20.62vw;
    height: 20.62vw;
    @include absolute-center;
    stroke: var(--white-color);
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out 1s;

    @include tablet-big-screen {
      width: 44.4vw;
      height: 44.4vw;
    }

    #{$close-hover} & {
      stroke-dashoffset: 0;
    }
  }

  &__background {
    position: fixed;
    @include absolute-fill;
    transition: all #{$background-transition}ms ease-out;
    z-index: 1;
    transform: translateX(-115%) skewX(-17deg);
    visibility: hidden;
    pointer-events: none;

    &--black {
      background: var(--black-color);
    }

    &--main {
      background: var(--main-color);
    }

    #{$open} & {
      transform: none;
      visibility: visible;
    }

    #{$show} & {
      pointer-events: all;
    }
  }

  &__content {
    position: fixed;
    @include absolute-fill;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all #{$background-transition}ms ease-out;
    pointer-events: none;

    #{$show} & {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__youtube-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  &__youtube {
    position: absolute;
    @include absolute-fill;

    & iframe {
      position: absolute;
      @include absolute-fill;
    }
  }

}
