@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.modal {
  $open: '.modal--open';

  //display: none;
  position: fixed;
  @include absolute-fill;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  color: var(--black-color);
  opacity: 0;
  visibility: hidden;

  &--open {
    //display: block;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }

  @include tablet-big-screen {

  }

  &__close {
    position: absolute;
    border: 0.1vw solid var(--white-color);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    right: -3vw;
    top: -3vw;
    cursor: pointer;
    z-index: 3;
  }

  $close-hover: '.modal__close:hover';

  &__close-icon {
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    @include absolute-center;
    fill: var(--white-color);
    opacity: .7;
    transition: all ease-out .5s;

    #{$close-hover} & {
      opacity: 1;
    }
  }

  &__close-icon-hover {
    position: absolute;
    width: 20.62vw;
    height: 20.62vw;
    @include absolute-center;
    stroke: var(--white-color);
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out .5s;

    #{$close-hover} & {
      stroke-dashoffset: 0;
    }
  }

  &__background {
  }

  &__content {
    position: absolute;
    @include absolute-fill;
    z-index: 1;
  }

}
