@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.portfolio {
  background: var(--black-color);
  color: var(--white-color);
  padding-top: 14vw;
  padding-bottom: 10vw;

  @include tablet-big-screen {
    padding-top: 45vw;
  }

  &__title-block {
    margin-bottom: 6vw;

    @include tablet-big-screen {
      margin-bottom: 25vw;
    }
  }

  &__title {
    @include margin-auto;
    width: fit-content;
    position: relative;
  }

  &__title-text {
    font-size: 15.5810vw;
    line-height: 106%;
    letter-spacing: -0.05em;
    margin-bottom: 2.2vw;

    @include tablet-big-screen {
      font-size: 28vw;
    }

    &--case {
      @include tablet-big-screen {
        font-size: 23vw;
      }
    }
  }

  &__title-text-line {
    padding: 0 2vw;
  }

  &__title-icon {
    width: 2.4vw;
    height: 2.4vw;
    display: block;
    position: absolute;
    right: 0;
    top: 5.8vw;
  }

  &__subtitle {
    @include manrope;
    @include margin-auto;
    width: fit-content;
    font-weight: 300;
    font-size: 1.7196vw;
    line-height: 100%;
    letter-spacing: -0.026em;

    @include tablet-big-screen {
      font-size: 4vw;
    }

    &--case {
      @include tablet-big-screen {
        font-size: 5vw;
      }
    }
  }

  &__slider {
    margin: 0 -20vw;
    margin-bottom: 4.4vw;
    padding: 0 1.5vw;
    width: calc(100% + 40vw);
    position: relative;


    @include tablet-big-screen {
      margin: 0;
      margin-bottom: 4.4vw;
      padding: 0 1.5vw;
      width: 100%;
    }

    .swiper {
      width: 100%;
      height: 21.7vw;

      &--desktop {

        @include tablet-big-screen {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @include tablet-big-screen {
          display: block;
          width: 240vw;
          margin: 3vw -70vw;
          height: 62vw;
        }
      }
    }

    .swiper-pagination {
      bottom: -10px;
      --swiper-pagination-bullet-inactive-color: #fff;
      --swiper-pagination-color: #fff;
      display: none;
    }

    // prettier-ignore
    .swiper-slide {
      -webkit-box-reflect: below 10px -webkit-linear-gradient(
                      bottom, rgba(255, 0, 0, 0.1) 0%,
                      transparent 32px,
                      transparent 100%
      );
    }
  }

  &__slider-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__slider-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
  }

  &__desc {
    @include flex-row;
    padding-left: 26.5vw;
    position: relative;
    padding-top: 4vw;
    margin-bottom: -7vw;
    z-index: 6;


    @include tablet-big-screen {
      padding-top: 24vw;
      padding-left: 0;
      @include flex-column;
    }
  }

  &__desc-item {
    @include manrope;
    letter-spacing: -0.033em;

    &--1 {
      font-size: 3.4392vw;

      @include tablet-big-screen {
        font-size: 10.5vw;
        width: 100%;
      }
    }

    &--2 {
      font-size: 1.7196vw;
      margin-left: 6vw;
      width: 18.5vw;

      @include tablet-big-screen {
        font-size: 7vw;
        width: 100%;
        margin-top: 6vw;
        margin-left: 0;
      }
    }

  }

  $desc-item-1: '.portfolio__desc-item--1';


  &__desc-item-inner {
    margin-top: -1.33vw;
    display: flex;

    #{$desc-item-1} & {
      margin-top: -1.5vw;
    }

    &--2 {
      margin-top: -0.33vw;
    }

    &--main-color {
      color: var(--main-color);
    }
  }

  &__desc-item-inner-line {

    &--main-color {
      color: var(--main-color);
    }

  }

  &__chart {
    width: 100%;
    position: relative;
    height: 25vw;
    margin-bottom: 4vw;
    overflow: hidden;

    @include tablet-big-screen {
      margin-top: 32vw;
    }
  }

  &__chart-mask {
    position: absolute;
    width: 110%;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(76deg, rgba(2, 3, 5, 0) 0%, rgba(2, 3, 5, 1) 10%, rgba(2, 3, 5, 1) 100%);
    background: var(--black-color);
    z-index: 3;
  }

  &__chart-line {
    position: absolute;
    height: 0.13vw;
    background: var(--main-color);
    transform-origin: left center;

    &--1 {
      width: 7.3vw;
      left: -1vw;
      top: 23.55vw;
      transform: rotate(-16deg);
    }

    &--2 {
      width: 18.3vw;
      left: 5.9vw;
      top: 21.6vw;
      transform: rotate(-19.6deg);
    }

    &--3 {
      width: 17vw;
      left: 22.9vw;
      top: 15.6vw;
      transform: rotate(3deg);
    }

    &--4 {
      width: 19.6vw;
      left: 40.1vw;
      top: 16.6vw;
      transform: rotate(-28.8deg);
    }

    &--5 {
      width: 17vw;
      left: 57.3vw;
      top: 7.2vw;
      transform: rotate(5.7deg);
    }

    &--6 {
      width: 21.7vw;
      left: 74.3vw;
      top: 9vw;
      transform: rotate(-21.9deg);
    }

    &--7 {
      width: 20vw;
      left: 94.3vw;
      top: 1vw;
      transform: rotate(-10.9deg);
    }
  }

  &__chart-dot {
    width: 0.63vw;
    height: 0.63vw;
    border-radius: 50%;
    position: absolute;
    background: var(--main-color);
    transform: translate(-50%, -50%);
    z-index: 1;

    &--1 {
      left: 5.9vw;
      top: 21.6vw;
    }

    &--2 {
      left: 22.9vw;
      top: 15.6vw;
    }

    &--3 {
      left: 40.1vw;
      top: 16.6vw;
    }

    &--4 {
      left: 57.3vw;
      top: 7.2vw;
    }

    &--5 {
      left: 74.3vw;
      top: 9vw;
    }

    &--6 {
      left: 94.3vw;
      top: 1vw;
    }

  }

  &__link-block {
    @include manrope;
    font-weight: 700;
    font-size: 6.9306vw;
    line-height: 100%;
    letter-spacing: -0.033em;
    padding-left: 26.5vw;

    @include tablet-big-screen {
      padding-left: 0;
      font-size: 10.5vw;
      margin-top: 33vw;
    }
  }

  &__link-title {
    margin-bottom: 3vw;
  }

  &__link-item {
    @include manrope();
    line-height: 100%;
    color: var(--main-color);
    letter-spacing: -0.033em;
    font-weight: 700;
    position: relative;
    width: fit-content;

    @include tablet-big-screen {
      font-size: 14.3vw;
      margin-top: 20vw;
    }

    &:after {
      @include pseudo-absolute();
      width: 100%;
      height: 0.65vw;
      background: var(--main-color);
      left: 0;
      top: calc(100% + 1vw);

      @include tablet-big-screen {
        height: 1.65vw;
      }
    }

  }

  &__slider-nav {
    width: 100%;
    @include flex-row-center;
    position: relative;
    margin-top: 2vw;

    &:after {
      @include pseudo-absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: var(--white-color);
      @include absolute-center;
    }

    @include tablet-big-screen {
      display: none;
    }
  }

  &__slider-nav-button {
    width: 200px;
    height: 50px;
    background: url(../../assets/icons/arrow-prev.svg);
    cursor: pointer;
    @include background-contain-center;
    margin-right: 30px;
    margin-left: auto;

    &--next {
      background: url(../../assets/icons/arrow-next.svg);
      @include background-contain-center;
      margin-right: auto;
      margin-left: 30px;
    }


  }
}
