@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.menu {
  $show: '.modal--show';
  $background-transition: 500;

  min-height: 100%;

  &__block {
    color: var(--white-color);
    position: relative;
    padding: 7.5vw 0;
    z-index: 2;

    @include tablet-big-screen {
      padding-top: 38vw;
      padding-bottom: 10vw;
    }
  }

  &__main {
  }

  &__main-item {
    font-size: 9.6925vw;
    line-height: 87%;
    letter-spacing: -0.05em;
    color: var(--white-color);
    cursor: pointer;
    margin-top: -2vw;
    display: flex;
    align-items: baseline;

    @include tablet-big-screen {
      font-size: 19vw;
      margin-bottom: 3vw;
    }

    & .char-hover__item-inner-hover,
    & .char-hover__item-inner {
      padding-right: 1vw;
    }

    &:after {
      @include manrope;
      content: '/';
      font-size: 3.6925vw;
      margin-left: 1vw;
      font-weight: 200;

      @include tablet-big-screen {
        font-size: 9vw;
        margin-left: 3vw;
      }
    }

    &--1 {
      padding-left: 9vw;

      @include tablet-big-screen {
        padding-left: 0;
      }
    }

    &--2 {
      padding-left: 24vw;

      @include tablet-big-screen {
        padding-left: 32vw;
      }
    }

    &--3 {
      @include tablet-big-screen {
        padding-left: 16vw;
      }
    }
  }

  &__bottom {
    @include flex-row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 1vw;

    @include tablet-big-screen {
      @include flex-column;
    }
  }

  &__bottom-links {
    @include tablet-big-screen {
      padding-left: 33vw;
    }
  }

  &__bottom-links-item {
    @include manrope;
    font-size: 3.3vw;
    line-height: 116%;
    letter-spacing: -0.05em;
    cursor: pointer;


    @include tablet-big-screen {
      font-size: 10vw;
      margin-bottom: 4vw;
      font-weight: 300;
    }
  }

  &__bottom-contacts {
  }

  &__bottom-contacts-mail {
    @include manrope;
    font-weight: 700;
    font-size: 1.5633vw;
    line-height: 100%;
    letter-spacing: -0.033em;
    cursor: pointer;

    @include tablet-big-screen {
      display: none;
    }
  }

  &__bottom-contacts-form-button {
    @include manrope();
    font-size: 6.6503vw;
    line-height: 100%;
    color: var(--main-color);
    letter-spacing: -0.033em;
    font-weight: 700;
    position: relative;
    width: fit-content;
    margin-top: 1vw;
    margin-bottom: 2.5vw;

    @include tablet-big-screen {
      font-size: 14.5vw;
      margin-top: 20vw;
    }

    &:after {
      @include pseudo-absolute();
      width: 100%;
      height: 0.65vw;
      background: var(--main-color);
      left: 0;
      top: calc(100% + 1vw);

      @include tablet-big-screen {
        height: 1.65vw;
      }
    }
  }

}