@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.process {
  padding-top: 18vw;
  padding-bottom: 7vw;
  background: var(--white-color);

  @include tablet-big-screen {
    padding-top: 62vw;
  }

  &__block {
  }

  &__icon {
    position: absolute;
    width: 16.1vw;
    top: 8.7vw;
    right: -4.2vw;

    @include tablet-big-screen {
      width: 46.1vw;
      top: 40.7vw;
      right: -13.2vw;
    }
  }

  &__title-block {
    @include flex-row;
    align-items: flex-end;
    margin-bottom: 11.3vw;

    @include tablet-big-screen {
      @include flex-column;
      margin-bottom: 35vw;
    }
  }

  &__title-wrapper {
    margin-left: -35.05vw;
    margin-bottom: 2vw;

    @include tablet-big-screen {
      margin-left: 0;
      margin-bottom: 8vw;
    }
  }

  &__title {
    font-size: 22.2188vw;
    letter-spacing: -0.05em;
    white-space: nowrap;
    @include flex-row;

    @include tablet-big-screen {
      font-size: 30vw;
      white-space: normal;
      @include flex-column;
      margin-top: 28vw;
    }
  }

  &__title-line {

    @include tablet-big-screen {
      margin-top: -17vw;
    }
  }

  &__subtitle {
    @include manrope;
    font-size: 1.7196vw;
    line-height: 100%;
    letter-spacing: -0.033em;
    margin-left: 3.1vw;
    width: 10vw;
    margin-bottom: 1vw;

    @include tablet-big-screen {
      margin-left: 0;
      width: 91%;
      margin-top: 4vw;
      font-size: 9vw;
    }
  }

  &__items {
  }

  &__item {
    display: grid;
    grid-template-columns: 26vw 1fr;

    @include tablet-big-screen {
      grid-template-columns: 1fr;
      position: relative;
    }
  }

  &__item-number {
    @include manrope;
    font-size: 1.1464vw;
    letter-spacing: -0.033em;
    padding-top: 2.5vw;

    @include tablet-big-screen {
      position: absolute;
      font-size: 5vw;
      padding-top: 0;
      top: 32.4vw;
      left: 2vw;
    }
  }

  &__item-desc {
    border-top: .2vw solid var(--black-color);
    padding-top: 1.8vw;
    padding-bottom: 5.2vw;
    display: grid;
    grid-template-columns: 1fr 29.3vw;

    @include tablet-big-screen {
      grid-template-columns: 1fr;
      border-top: 1.6vw solid var(--black-color);
      padding-top: 3vw;
      padding-bottom: 20vw;
    }
  }

  &__item-desc-title {
    @include manrope;
    font-weight: 700;
    font-size: 3.4392vw;
    letter-spacing: -0.033em;

    @include tablet-big-screen {
      font-size: 13.5vw;
    }
  }

  &__item-desc-text {
    @include manrope;
    font-weight: 700;
    font-size: 1.1464vw;
    line-height: 126%;
    letter-spacing: -0.033em;
    padding-right: 4vw;
    padding-top: 0.5vw;

    @include tablet-big-screen {
      padding-right: 0;
      font-size: 5vw;
      padding-left: 39vw;
      padding-top: 11vw;
    }
  }
}