@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.placeholder {
  position: relative;
  display: block;

  $not-empty: '.placeholder--not-empty';
  $error: '.form-check__error--show';
  $error-focus: '.form-check__error--show.form-check__field--focus';
  $textarea: '.placeholder--textarea';


  &__item {
    @include manrope;
    color: var(--black-color);
    cursor: text;
    font-size: 0.9379vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .1vw;
    padding-left: 0;
    height: auto;
    transition: transform 0.2s, opacity 0s;
    transform-origin: left bottom;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;

    @include tablet-big-screen {
      font-size: 5vw;
    }


    #{$not-empty} & {
      opacity: 1;
      visibility: visible;
      transform: translateY(-2.4vw) scale(.75);

      @include tablet-big-screen {
        transform: translateY(-11vw) scale(.75);
      }
    }

    #{$textarea} & {
      top: 1.9vw;
    }

    #{$error}#{$not-empty} &,
    #{$error} & {
      opacity: 0;
      visibility: hidden;
    }

    #{$error-focus}#{$not-empty} & {
      opacity: 1;
      visibility: visible;
      transform: translateY(-20px)
    }
  }

}
