@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.user-experience {

  &__block {
    display: grid;
    grid-template-columns: 25vw 65vw;
    padding-top: 14vw;

    @include tablet-big-screen {
      grid-template-columns: 1fr;
      position: relative;
    }

    &--second {
      padding-top: 0;
    }
  }

  &__block-name {
    @include manrope;
    font-weight: 500;
    font-size: 1.3548vw;
    color: var(--natural-text-color);

    @include tablet-big-screen {
      position: absolute;
      top: 86.5vw;
      left: 0;
      font-size: 6.4392vw;

      &--mobile-hidden {
        display: none;
      }
    }
  }

  &__content {
  }

  &__title {
    color: var(--natural-text-color);
    @include manrope;
    font-weight: 200;
    font-size: 12.1417vw;
    margin-top: 4vw;
    letter-spacing: -0.033em;


    @include tablet-big-screen {
      font-size: 18.1417vw;
      line-height: 117%;
      margin-top: 27vw;
    }


  }

  &__title-line {
    margin-top: -7vw;
    position: relative;


    &--dot {
      width: fit-content;
    }

    &--dot:after {
      @include pseudo-absolute;
      width: 0.6vw;
      height: 0.6vw;
      right: -1vw;
      top: 5vw;
      border-radius: 50%;
      background: var(--main-case-color);

      @include tablet-big-screen {
        width: 1.2vw;
        height: 1.2vw;
        right: -2vw;
      }
    }
  }

  &__desc {
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: var(--main-text-color);
    margin-top: 7.2vw;

    @include tablet-big-screen {
      margin-top: 18.2vw;
      padding-left: 27vw;
      grid-template-columns: 1fr;
      grid-gap: 6vw;
    }

    &--fill {
      grid-template-columns: 1fr;

      @include tablet-big-screen {
        padding-left: 0;
      }
    }
  }

  &__desc-item {
    @include manrope;
    font-size: 3.4392vw;
    letter-spacing: -0.033em;

    @include tablet-big-screen {
      font-size: 6.4392vw;
    }

    &--big {
    }

    &--small {
      font-size: 1.4392vw;
      margin-top: 0.3vw;

      @include tablet-big-screen {
        font-size: 4.4392vw;
      }
    }


  }

  &__desc-item-line {
    margin-top: -1.2vw;

    &--small {
      margin-top: -.6vw;
    }
  }

  &__images-wrapper {
    position: relative;
    margin-bottom: 8vw;
  }

  &__images-wrapper-circle {
    position: absolute;
    left: 61vw;
    top: 1vw;
    width: 27.7748vw;
    height: 27.7748vw;
    background: var(--main-case-color);
    border-radius: 50%;

    @include tablet-big-screen {
      left: 45vw;
      top: 27vw;
      width: 101vw;
      height: 101vw;
    }
  }

  &__images-inner {
    transform: translateX(-45vw);

    @include tablet-big-screen {
      display: none;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 65vw);
    grid-gap: .5vw;
    padding-top: 10vw;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8vw;

    @include tablet-big-screen {
      margin-top: 17vw;
      grid-template-columns: 1fr 2fr;
    }
  }

  &__colors-item {
    position: relative;
    padding-bottom: 85%;

    @include tablet-big-screen {
      padding-bottom: 148%;
    }

    &--main {
      background: var(--natural-case-color);
    }

    &--natural {
      background: var(--main-case-color);
    }
  }

  &__colors-item-name {
    position: absolute;
    @include manrope;
    font-size: 1.3548vw;
    line-height: 100%;
    letter-spacing: -0.033em;
    left: 2vw;
    top: 2vw;

    @include tablet-big-screen {
      left: 4vw;
      bottom: 4vw;
      top: auto;
      font-size: 5.3548vw;
      width: 21vw;
    }

    &--main {
      color: var(--main-text-color);
    }

    &--natural {
      color: var(--natural-text-color);
    }
  }

  &__colors-desc {
    display: grid;
    grid-template-columns: 46vw 1fr;
    border-top: 0.1042vw solid var(--natural-text-color);
    @include manrope;
    font-weight: 200;
    font-size: 2vw;
    letter-spacing: -0.033em;
    margin-top: 5.4vw;
    padding-top: 2.7vw;

    @include tablet-big-screen {
      font-size: 5.3548vw;
      grid-template-columns: 30vw 1fr;
      margin-bottom: 26vw;
    }
  }

  &__colors-desc-name {
    color: var(--natural-text-color);
    margin-top: -.7vw;
  }

  &__colors-desc-text {
    color: var(--main-text-color);
  }

  &__colors-desc-text-line {
    margin-top: -.7vw;
  }

  &__image-for-mobile {
    display: none;

    @include tablet-big-screen {
      display: block;
      padding-top: 54vw;
      padding-bottom: 11vw;

      & .user-experience__block-name {
        display: none;
      }
    }
  }
}

