@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.businesses {
  background: var(--main-color);
  padding-top: 10vw;
  padding-bottom: 9.63vw;

  $ready-title: '.animation__block--ready-title';

  &__block {
  }

  &__title-wrapper {
    margin-left: -72.8vw;
    margin-top: -3.888vw;
    margin-bottom: 2vw;

    @include tablet-big-screen {
      margin-left: 0;
      margin-bottom: 9vw;
    }
  }

  &__title {
    font-size: 22.5638vw;
    letter-spacing: -0.05em;
    color: var(--white-color);
    white-space: nowrap;

    @include tablet-big-screen {
      line-height: 93%;
      white-space: normal;
    }
  }

  &__desc {
    @include flex-row();
    justify-content: space-between;
    padding-right: 1vw;
    margin-bottom: 12.3vw;

    @include tablet-big-screen {
      flex-direction: column;
      margin-bottom: 25vw;
    }
  }

  &__desc-item {
    @include manrope();
    font-size: 3.4392vw;
    margin-top: -1.1vw;
    letter-spacing: -0.033em;

    @include tablet-big-screen {
      font-size: 6.5vw;
      margin-top: 7vw;
    }

    &--1 {
      color: var(--white-color);
      font-weight: 700;
    }

    &--2 {
      color: var(--black-color);
    }
  }

  &__desc-item-line {
    margin-top: -1.1vw;
  }

  &__icon-block {
    margin-bottom: 4.2vw;
  }

  &__icon {
    position: relative;
  }

  &__icon-item {
    position: absolute;
    width: 6.8vw;
    height: 6.8vw;
    border-radius: 50%;
    //border: 0.15vw solid var(--white-color);
    left: 0;
    top: -2vw;
    stroke: var(--white-color);

    @include tablet-big-screen {
      left: auto;
      right: 0;
      top: -10vw;
      width: 17vw;
      height: 17vw;
    }

    circle {
      fill: none;
      stroke: var(--white-color);
      stroke-width: 0.15vw;
      stroke-dasharray: 314;
      stroke-dashoffset: 314;
      transition: all .5s linear;

      #{$ready-title} & {
        animation: circle-stroke 3s linear infinite;
      }
    }

    @keyframes circle-stroke {
      0% {
        stroke-dashoffset: 314;
      }
      50% {
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dashoffset: -314;
      }
    }

    &--1 {
      transform: rotate(45deg);
    }

    &--2 {
      left: 5.4vw;
      transform: rotate(-90deg);

      @include tablet-big-screen {
        left: auto;
        right: 10vw;
        top: -10vw;
      }
    }
  }

  &__icon-title {
    @include manrope();
    font-size: 3.4392vw;
    line-height: 80%;
    letter-spacing: -0.033em;
    color: var(--black-color);
    margin-left: 26vw;

    @include tablet-big-screen {
      margin-left: 0;
    }
  }

  &__subtitle {
    @include flex-row();
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 9vw;

    @include tablet-big-screen {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 15vw;
    }
  }

  &__subtitle-item {
    @include manrope();
    font-size: 12.1417vw;
    margin-top: -8vw;
    letter-spacing: -0.05em;

    @include tablet-big-screen {
      font-size: 14.1417vw;
      margin-top: -6vw;
    }

    &--1 {
      font-weight: 700;
      margin-left: 25.5vw;
      margin-bottom: 2vw;

      @include tablet-big-screen {
        margin-left: 0;
      }
    }

    &--2 {
      font-weight: 700;
      margin-right: 2vw;

      @include tablet-big-screen {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &--3 {
      color: var(--white-color);
      letter-spacing: -0.033em;
      font-weight: 800;
      font-size: 1.5112vw;
      width: 22.2vw;
      margin-bottom: 3.2vw;

      @include tablet-big-screen {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 5.5112vw;
        width: 100%;
        margin-top: 2vw;
      }
    }
  }

  &__subtitle-item-line {
    margin-top: -.5vw;
  }
}