@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.animation {

  &--preshow {
    transform: scale(1.4) !important;
    transition-timing-function: cubic-bezier(.25, .74, .22, .99);
  }

  &--show {
    opacity: 1 !important;
    transform: scale(1) !important;
  }

  &__scroll {
    position: fixed;
    width: 16px;
    z-index: 200;
    right: 0;
    top: 0;
    height: 100vh;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

  $scroll-hover: '.animation__scroll:hover';

  &__scroll-handler-wrapper {
    width: 100%;
    height: 4vw;
    transition: transform;
    contain: content;
    will-change: transform;
    position: relative;
  }

  &__scroll-handler {
    position: absolute;
    right: 3px;
    width: 10px;
    height: calc(100% - 10px);
    top: 5px;
    transition: all;
    contain: content;
    will-change: transform;
    transition-timing-function: cubic-bezier(.25, .74, .22, .99);
    transition-duration: 200ms;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    opacity: .2;
    cursor: grab;

    #{$scroll-hover} & {
      opacity: 1;
      border: 2px solid var(--main-color);
      background: var(--main-color);
    }
  }

  &__screen {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    //contain: content;
    will-change: transform;
    transition: none;
    transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);

    @include tablet-big-screen {
      height: auto;
      position: static;
    }

  }

  $ready-title: '.animation__block--ready-title';

  &__change-background {
    //transition: transform 300ms ease-out;
    transition: none !important;
    will-change: transform;
    background: var(--main-color);
  }

  &__text-x-scroll {
    transition: transform;
    //transition: none !important;
    transition-duration: 300ms;
    contain: content;
    will-change: transform;
    transition-timing-function: cubic-bezier(.25, .74, .22, .99);
    line-height: normal;

    @include tablet-big-screen {
      contain: initial;
    }

    &--business {
      transform: translateX(100vw);

      @include tablet-big-screen {
        transform: none;
      }
    }

    &--process {
      transform: translateX(70vw);

      @include tablet-big-screen {
        transform: none;
      }
    }

    &--have-a-task {
      transform: translateX(50vw);

      @include tablet-big-screen {
        transform: none;
      }
    }

    &--user-experience {
      transform: translateX(45vw);

      @include tablet-big-screen {
        transform: none;
      }
    }

  }

  &__title-wrapper {
    overflow: hidden;

  }

  &__title {
    will-change: transform;
    transition: transform 1300ms cubic-bezier(.25, .74, .22, .99);
    transform: translate3d(0, 100%, 0);
    transform-origin: top right;

    &--active {
      transform: none;
    }
  }

  &__text-wrapper {
    overflow: hidden;
  }

  &__text {
    will-change: transform;
    transition: transform 900ms cubic-bezier(.25, .74, .22, .99);
    transform: translate3d(0, 100%, 0);
    transform-origin: top right;
    transition-delay: .1s;
    display: flex;

    #{$ready-title} &--active {
      transform: none;
    }
  }

  &__opacity {
    opacity: 0;
    transition: all 1000ms ease-out;

    #{$ready-title} & {
      opacity: 1;
    }

  }

}