@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.have-a-task {
  background: var(--main-color);
  color: var(--white-color);
  padding-top: 14vw;

  &--white {
    background: var(--white-color);
    color: var(--black-color);
  }

  &--case {
    padding-top: 13vw;
  }

  &--modal {
    padding-top: 1vw;
  }

  $white: '.have-a-task--white';
  $case: '.have-a-task--case';
  $modal: '.have-a-task--modal';

  &__block {
    padding-left: 25vw;
    padding-bottom: 13.4vw;

    #{$case} & {
      padding-left: 1vw;
    }

    #{$modal} & {
      padding-left: 0;
      padding-bottom: 5.4vw;
    }
  }

  &__title-wrapper {
    margin-bottom: 1.5vw;
  }

  &__title {
    font-size: 13.8613vw;
    letter-spacing: -0.047em;
    white-space: nowrap;

    #{$case} & {
      @include manrope;
      font-weight: 700;
      font-size: 11.8613vw;
    }

    #{$modal} & {
      font-size: 10.8613vw;
    }

  }

  &__title-line {
    margin-top: -5vw;

    &--2 {
      padding-left: 26vw;
    }
  }

  &__subtitle {
    @include manrope;
    font-weight: 700;
    font-size: 1.7196vw;
    letter-spacing: -0.033em;
    padding-left: 1vw;
    margin-bottom: 8vw;

    #{$modal} & {
      width: 18vw;
      margin-bottom: 0;
    }
  }

  &__form {
    padding-left: 1vw;

    #{$case} & {
      padding-left: 25vw;
      padding-top: 6vw;
    }

    #{$modal} & {
      padding-left: 33vw;
      margin-top: -5vw;
    }

  }

  &__form-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    margin-bottom: 4.9vw;

    #{$case} & {
      margin-bottom: 1.9vw;
    }

    #{$modal} & {
      margin-bottom: 1.9vw;
    }
  }

  &__form-item {
  }

  &__form-item-field {
    margin-bottom: 2.45vw;
  }

  &__form-button {
    @include manrope;
    font-weight: 800;
    font-size: 5.6279vw;
    letter-spacing: -0.033em;
    color: var(--black-color);
    position: relative;
    width: fit-content;


    #{$modal} & {
      font-size: 4.6279vw;
    }

    &:after {
      @include pseudo-absolute();
      width: 100%;
      height: 0.65vw;
      background: var(--black-color);
      left: 0;
      top: calc(100% + 1vw);

      #{$modal} & {
        height: 0.45vw;
      }
    }
  }
}