@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.footer {
  background: var(--black-color);
  color: var(--white-color);
  padding-top: 2vw;
  padding-bottom: 7vw;

  @include tablet-big-screen {
    padding-top: 11vw;
    padding-bottom: 17vw;
  }

  &__text-row {
    margin-bottom: 7.9vw;
  }

  &__text-row-line {
    @include flex-row;
    opacity: 0.1;
    margin-left: -5.4vw;
  }

  &__text-row-item {
    @include manrope;
    font-weight: 300;
    font-size: 3.4392vw;
    line-height: 100%;
    letter-spacing: -0.033em;
    margin-right: 3.8vw;
    position: relative;

    &:after {
      @include pseudo-absolute;
      width: .3vw;
      height: .3vw;
      border-radius: 50%;
      background: var(--white-color);
      top: 2vw;
      right: -2.2vw;
    }
  }

  &__block {
  }

  &__top {
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 9.3vw;

    @include tablet-big-screen {
      flex-wrap: wrap;
      margin-top: 19vw;
    }
  }

  &__logo {

    @include tablet-big-screen {
      width: 12vw;
    }

  }

  &__desc {
    @include manrope;
    font-weight: 700;
    font-size: 1.7196vw;
    line-height: 100%;
    letter-spacing: -0.033em;

    @include tablet-big-screen {
      width: 50vw;
      font-size: 7vw;
    }
  }

  &__contacts {
    @include manrope;
    line-height: 100%;

    @include tablet-big-screen {
      width: 100%;
      margin-top: 12vw;
    }
  }

  &__contacts-phone {
    font-weight: 200;
    font-size: 4.1688vw;
    letter-spacing: -0.033em;
    color: var(--white-color);
    display: block;
    line-height: 100%;
    margin-bottom: 2.5vw;

    @include tablet-big-screen {
      font-size: 13vw;
    }
  }

  &__contacts-mail {
    font-weight: 700;
    font-size: 1.7196vw;
    line-height: 100%;
    letter-spacing: -0.033em;
    color: var(--white-color);
    display: block;
    margin-bottom: .7vw;

    @include tablet-big-screen {
      font-size: 5vw;
    }
  }

  &__contacts-copyright {
    font-size: 1.1464vw;
    letter-spacing: -0.033em;
    line-height: 100%;
    opacity: 0.2;
  }

  &__bottom {
    @include flex-row;
    justify-content: space-between;
  }

  &__link {
    color: var(--main-color);
    position: relative;
    width: fit-content;
    @include manrope;
    font-weight: 700;
    font-size: 6.9306vw;
    line-height: 100%;
    letter-spacing: -0.033em;

    &:after {
      @include pseudo-absolute();
      width: 100%;
      height: 0.65vw;
      background: var(--main-color);
      left: 0;
      top: calc(100% + 1vw);
    }

    @include tablet-big-screen {
      display: none;
    }
  }

  &__social {
    @include flex-row;
    margin-top: 0.6vw;
  }

  &__social-item {
    width: 5.75vw;
    height: 5.75vw;
    position: relative;
    @include flex-row-center;

    @include tablet-big-screen {
      width: 17vw;
      height: 17vw;
    }

    &:after {
      @include pseudo-absolute;
      @include absolute-center;
      border: .1vw solid #252728;
      border-radius: 50%;
      width: 117%;
      height: 117%;
    }
  }

  $social-item-hover: '.footer__social-item:hover';

  &__social-item-img {
    width: 1.2vw;
    height: 1.2vw;
    object-fit: contain;
    object-position: center;

    @include tablet-big-screen {
      width: 6vw;
      height: 6vw;
    }
  }

  &__social-item-img-hover {
    position: absolute;
    @include absolute-center;
    width: 117%;
    height: 117%;
    z-index: 1;
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out .5s;

    #{$social-item-hover} & {
      stroke-dashoffset: 0;
    }
  }
}