@import "~frontend-scss-mixins/mixins";
@import "./mixins";
@import "./variables";
@import "./media-queries";

@font-face {
  font-family: 'Kudryashev';
  src: url('../../assets/fonts/kudryashev/KudryashevDisplay-Sans.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/manrope/Manrope-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/manrope/Manrope-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/manrope/Manrope-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/manrope/Manrope-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/manrope/Manrope-ExtraBold.ttf') format('ttf');
  font-style: normal;
  font-weight: 800;
}

:root {
  --white-color: #fff;
  --black-color: #020305;
  --main-color: #768f94;
  --sub-main-color: #2A2F30;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: var(--black-color);
  height: 100px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: auto;
  text-shadow: none;
  margin: 0;
  position: fixed;
  height: 100px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @include kudryashev;
  //max-height: 100vh;
  //
  //&.init {
  //  max-height: none;
  //}

}

a {
  text-decoration: none;
  display: block;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  display: block;
}


button, input, textarea {
  display: block;
}

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none;
}
